@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Unbounded";
  src: url("./fonts/unbounded-v7-latin-regular.woff2") format("woff2");
}
@font-face {
  font-family: "ABeeZee";
  src: url("./fonts/abeezee-v22-latin-regular.woff2") format("woff2");
}

@layer components {
  .custom-container {
    @apply mx-auto w-full max-w-[1280px] px-8;
  }
}
html {
  scroll-behavior: smooth;
}

.heroBg {
  background: url("../public/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.advantageBg {
  background: url("../public/image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
