@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Unbounded";
  src: url("./fonts/unbounded-v7-latin-regular.woff2") format("woff2");
}
@font-face {
  font-family: "ABeeZee";
  src: url("./fonts/abeezee-v22-latin-regular.woff2") format("woff2");
}

@layer components {
  .custom-container {
    @apply mx-auto w-full max-w-[1280px] px-8;
  }
}
